*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

*::-webkit-scrollbar{
    display: none;
}
body{
font-family: Arial, Helvetica, sans-serif;
background: linear-gradient(180deg, rgba(0, 21, 221, 1) 20%, rgba(108, 120, 216, 1) 40%, rgba(162, 169, 214, 1) 60%, rgba(189, 194, 213, 1) 80%, rgba(203, 206, 212, 1) 100%);
height: fit-content;
scroll-behavior: smooth;
}
a{
    text-decoration: none;
    display: block;
    cursor: pointer;
}
ul{
    list-style-type: none;
}

